/* Common styles */
body {
    font-family: Arial, sans-serif;
    background-color: #000; 
    color: #f0f0f0; 
    margin: 0; 
    padding: 0; 
    padding-top: constant(safe-area-inset-top); /* Handle top safe area */
    padding-bottom: constant(safe-area-inset-bottom); /* Handle bottom safe area */
    padding-left: constant(safe-area-inset-left); /* Handle left safe area */
    padding-right: constant(safe-area-inset-right); /* Handle right safe area */
}

header {
    background-color: #000; 
    color: #fff;
    height: 201px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-height: 270px; 
}

main {
    padding: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    display: block;
    width: 80%; 
    max-width: 900px; 
    padding: 25px; /* Decreased padding for smaller buttons */
    margin: 10px;
    text-align: center;
    background-color: #555; 
    color: #000;
    text-decoration: none;
    border: none;
    border-radius: 15px; 
    transition: background-color 0.3s;
    font-size: 20px; /* Decreased font size for smaller buttons */
}

.button:hover {
    background-color: #333; 
}

@media screen and (max-width: 460px) {
    header {
        height: 100px;
    }
    img {
        max-height: 50px; /* Adjust the maximum height of the image */
    }
    .button {
        padding: 15px; /* Further decreased padding for smaller screens */
        font-size: 16px; /* Further decreased font size for smaller screens */
        width: 100%; /* Adjusted to cover 100% of the screen width */
    }
}

@media screen and (max-width: 595px) {
    header {
        height: 150px;
    }
    img {
        max-height: 150px; /* Adjust the maximum height of the image */
    }
}

/* Media Queries for responsiveness */
@media screen and (min-width: 768px) {
    .button {
        width: 80%; 
    }
}

@media screen and (min-width: 1024px) {
    .button {
        width: 80%; 
        font-size: 27px;
    }
}

@media screen and (min-width: 2048px) {
    .button {
        width: 75%; 
        font-size: 30px;
    }
}
